# ———————————————————————————————————————————————————————————————————————————— #
# NPM dependencies                                                             #
# ———————————————————————————————————————————————————————————————————————————— #
node_modules/

# ———————————————————————————————————————————————————————————————————————————— #
# Production builds                                                            #
# ———————————————————————————————————————————————————————————————————————————— #
dist/
site/

# ———————————————————————————————————————————————————————————————————————————— #
# Testing coverage                                                             #
# ———————————————————————————————————————————————————————————————————————————— #
coverage/

# ———————————————————————————————————————————————————————————————————————————— #
# Developer tools                                                              #
# ———————————————————————————————————————————————————————————————————————————— #
.vscode/
virtual/
